{% extends "no-style-please/templates/page.html" %}

{% block header %}
{#<p>
    <a href="{{ config.base_url }}">~</a>
    {%- set segments = current_path | split(pat="/") | slice(start=1, end=-1) -%}
    /
    {%- for segment in segments -%}
        {%- if loop.last -%}
            {{ segment }}
        {%- else -%}
            {%- set path = segments | slice(end=loop.index) | join(sep='/') -%}
            <a href="{{ get_url(path=path) }}">{{ segment }}</a>/
        {%- endif -%}
    {%- endfor -%}
</p>#}
<p class="post-meta"><time datetime="{{ page.date }}">{{ page.date }}</time></p>
<h1>{{ page.title }}</h1>
{% endblock %}

{% block footer %}
<hr>
    {# TODO: hack. #}
    {% set image = get_random(start=1, end=6) %}
    {% set conv = resize_image(path='/static/footers/' ~ image ~ '.png', format='webp', width=200, height=200, op='fit') %}
    {% set url = conv.url %}
<img src="{{ url }}">
{% endblock %}